{% extends "AppPortalBundle::layout.html.twig" %}

{% form_theme form "bootstrap_3_horizontal_layout.html.twig" %}

{% block title 'Change password' %}

{% block content %}
    <div style="text-align: center">
        <h1>{{ 'user.change_password.title' | trans }}</h1>
    </div>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-lg btn-primary btn-block">{{ 'user.change_password.button' | trans }}</button>
    {{ form_end(form) }}
{% endblock %}
