<h2>Resetting Password</h2>

<div class="clear"></div> <!-- End .clear -->
<div class="content-box"><!-- Start Content Box -->
    <div class="content-box-header">

        <div class="clear"></div>

    </div> <!-- End .content-box-header -->

    <div class="content-box-content">

            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="notification success png_bg">
                    <div>{{ flashMessage }}</div>
                </div>
            {% endfor %}
        
            {% trans_default_domain 'FOSUserBundle' %}

            <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request" novalidate>
                <div>
                    {% if invalid_username is defined %}
                        <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
                    {% endif %}
                    <label for="username">{{ 'resetting.request.username'|trans }}</label>
                    <input type="text" id="username" name="username" required="required" class="text-input small-input validate[required]"/>
                </div>
                <br/>
                <div>
                    <input type="submit" value="{{ 'resetting.request.submit'|trans }}" class="button" />
                </div>
            </form>
    </div> <!-- End .content-box-content -->
</div> <!-- End .content-box -->