{% block _contact_knowledge_row %}
    {% spaceless %}
        <div class="form-group{% if not valid %} has-error{% endif %}">
            <div class="{{ block('form_label_class') }}"><strong>{{ 'contact.knowledge'|trans() }}</strong></div>
            <div class="{{ block('form_group_class') }}">
                {{ form_widget(form) }}
                {{ form_errors(form) }}
            </div>
        </div>
    {% endspaceless %}
{% endblock %}

{% block _contact_other_row %}
    <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
        <div class="{{ block('form_label_class') }}"></div>
        <div class="{{ block('form_group_class') }}">
            {{- form_widget(form) -}}
            {{- form_errors(form) -}}
        </div>
    </div>
{% endblock%}

{% block form_errors -%}
    {% if errors|length > 0 -%}
        <ul>
            {%- for error in errors -%}
                <li><span class="flash-notice">{{ error.message }}</span></li>
            {%- endfor -%}
        </ul>
    {%- endif %}
{%- endblock form_errors %}