{% extends 'layout.html.twig' %}

{% block title %}{{ 'film.liste'|trans() }}{% endblock %}

{% block active_movies %}active{% endblock %}

{% block content %}
    {{ render(controller('AppBundle:Movie:formFilter', app.request.get('app_movie_filter', []))) }}
    <div style="text-align: center">
        <h2>{{ 'film.liste'|trans() }}</h2>
    </div>

    {% if is_granted('ROLE_EDITOR') %}
        <p><a href="{{ path('movie_new') }}">{{ 'film.ajouter'|trans }}</a><p>
    {% endif %}

    <div style="text-align: center">
        {% include 'pagination/pagination.html.twig' with {'pagination' : pagination} %}
    </div>
{% endblock %}