{% extends 'layout.html.twig' %}

{% block title %}{{ 'film.fiche'|trans({ '%titre%': movie.title}) }}{% endblock %}

{% block active_movies %}active{% endblock %}

{% block content %}
    <div class="movie-details">
        <h2 class="movie-title">{{ movie.title }}</h2>
        <p>(mis à jour le {{ movie.updatedAt | localizeddate('medium', 'none')}} à {{ movie.updatedAt|date("h:i")|formatTime }})</p>
        <div class="movie-metadata">
            <table class="metadata table table-bordered">
                <tr><th>{{ 'film.horaire' | trans }}</th><td> {{ '14-16'|formatSingleDayPart }} {{ '5.5'|price }}</td></tr>
                <tr><th>{{ 'film.dateSortie' | trans }}</th><td>{{ movie.releasedAt | date("d/m/Y") }}</td></tr>
                <tr>
                    <th>{{ 'film.categorie'|trans }}</th>
                    <td>{{ movie.category.title }}</td>
                </tr>
                {% if movie.hashTags|length > 0 %}
                    <tr>
                        <th>{{ 'film.hashtags'|trans }}</th>
                        <td>
                            {% for ht in movie.hashTags %}
                                <div class="col-md-8">
                                    {{ ht.name }}
                                </div>
                            {% endfor %}
                        </td>
                    </tr>
                {% endif %}
                {% if movie.image %}
                    <tr>
                        <th>{{ 'film.image'|trans }}</th>
                        <td>
                            <img
                                src="{{ asset(movie.image.getWebPath | imagine_filter('movie_thumbnail')) }}"
                                alt="{{ movie.image.alt }}"
                            />
                        </td>
                    </tr>
                {% endif %}
            </table>

            <p class="movie-description">{{ movie.description }}</p>
            {% if movie.actors|length > 0 %}
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseActors">
                                    {{ 'film.acteurs'|trans }} <span class="glyphicon glyphicon-chevron-down pull-right"></span>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseActors" class="panel-collapse collapse">
                            <div class="panel-body">
                                <table class="table table-striped">
                                    {% for actor in movie.actors %}
                                        <tr>
                                            <td>
                                                {{ actor }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>

        <br/>
        <p><a href="{{ path('movie_list') }}">{{ 'film.liste.retour'|trans }}</a></p>

    </div>
{% endblock %}
